.meanings{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 55vh;
    border-radius: 10px;
    border:10px solid rgb(105,105,105);
    padding: 10px 20px;
    overflow-x: hidden;
}
.meanings::-webkit-scrollbar-thumb{ 
    background-color: rgb(238, 238, 238);
}
.meanings::-webkit-scrollbar{
    width: 5px;
}
.subTitle{
    font-size: 5vh;
    font-family: "Montserrat",sans-serif;
}

@media (max-width:900px) {
    .meanings{
        height: 60vh;
        overflow-y: scroll;
        height: 60vh;
    }
}
.singleMean{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px;
    margin:10px 0;
}